{% extends 'portfolio/base.html' %}

{% block content %}
  {% include 'portfolio/components/navbar.html' %}
  {% include 'portfolio/components/hero.html' %}
  {% include 'portfolio/components/about.html' %}
  {% include 'portfolio/components/services.html' %}
  {% include 'portfolio/components/approach.html' %}
  {% include 'portfolio/components/workflow.html' %}
  {% include 'portfolio/components/projects.html' %}
  {% include 'portfolio/components/gallery.html' %}
  {% include 'portfolio/components/lightbox.html' %}
  {% include 'portfolio/components/locations.html' %}
  {% include 'portfolio/components/contact.html' %}
  {% include 'portfolio/components/footer.html' %}
  {% include 'portfolio/components/admin.html' %}
{% endblock %}
